# Intellij
*.iml
.idea

# npm
node_modules
package-lock.json

# build
.DS_Store
*.js.map
.env
yarn*
dist
test-vault/
main.js
styles.css

# local Obsidian vault used for testing
.obsidian/
Untitled Kanban.md
sdfsd.md